<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Demo Application</title>
    <meta name="title" content="kraken Demo Application">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="all">
    {% block stylesheets %}
        <link rel="stylesheet" href="/js/index.js" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script type="text/javascript" charset="utf-8" href="{{ asset_url }}" />
    {% endblock %}
</body>
</html>



