services:
    app.messages.client_listener:
        class: AppBundle\Messages\ClientEventListener
        tags:
            - { name: kernel.event_listener, event: 'kraken.ws.client_connected', method: onClientConnect }
            - { name: kernel.event_listener, event: 'kraken.ws.client_disconnected', method: onClientDisconnect }
            - { name: kernel.event_listener, event: 'kraken.ws.client_message', method: onClientMessage }
            - { name: kernel.event_listener, event: 'kraken.ws.client_error', method: onClientError }
